@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.wrap{
    width: 390px;
    height: 2709px;
    display: flex;
    margin: 0 auto;
}
.wrap2{
    width: 390px;
    height: 7047px;
    display: flex;
    margin: 0 auto;
}
.wrap3{
    width: 390px;
    height: 7507px;
    margin: 0 auto;
}
.wrap4{
    width: 390px;
    height: 8480px;
    margin: 0 auto;
}
.background{
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}
.main_img{
        width: auto;
        height: auto;
        position: absolute;
        z-index: 2;
}
.main_img2{
        margin-top: 843px;
        width: auto;
        height: auto;
        position: absolute;
        z-index: 2;
}
.main_text{
    margin-top: 881px;
    margin-left: 46px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text2{
    margin-top: 1051px;
    margin-left: 46px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text3{
    margin-top: 1254px;
    margin-left: 160px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text4{
    margin-top: 1354px;
    margin-left: 164px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text5{
    margin-top: 1463px;
    margin-left: 114px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text6{
    margin-top: 1648px;
    margin-left: 131px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_text7{
    margin-top: 1781px;
    margin-left: 96px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;
}
.main_img3{
        margin-top: 2080px;
        margin-left: 46px;
        width: auto;
        height: auto;
        position: absolute;
        z-index: 2;

}
.main_img4{
    margin-top: 2362px;
    margin-left: 46px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.main_img5{
    margin-top: 2232px;
    margin-left: 167px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.main_img6{
    margin-top: 2305px;
    margin-left: 167px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.main_img7{
    margin-top: 2528px;
    margin-left: 167px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.sub01_img{
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.sub01_img2{
    margin-top: 1036px;
    margin-left: 14px;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.sub01_box{
    margin-top: 1178px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_box2{
    margin-top: 1262px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_box3{
    margin-top: 1346px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_box4{
    margin-top: 1430px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_box5{
    margin-top: 1514px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_box6{
    margin-top: 1598px;
    margin-left: 43px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text{
    margin-top: 1752px;
    margin-left: 37px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_bg{
    margin-top: 2291px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text2{
    margin-top: 2378px;
    margin-left: 58px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text3{
    margin-top: 2582px;
    margin-left: 58px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text4{
    margin-top: 2855px;
    margin-left: 58px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text5{
    margin-top: 3156px;
    margin-left: 58px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text6{
    margin-top: 3611px;
    margin-left: 82px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_vector{
    margin-top: 3611px;
    margin-left: 253px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_bg2{
    margin-top: 3753px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text7{
    margin-top: 3726px;
    margin-left: 82px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text8{
    margin-top: 4143px;
    margin-left: 235px;
    position: absolute;
    width: auto;
    height: auto;
}
.sub01_display{
    margin-top: 3817px;
    margin-left: 37px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display2{
    margin-top: 3817px;
    margin-left: 155px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display3{
    margin-top: 3817px;
    margin-left: 273px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display4{
    margin-top: 4073px;
    margin-left: 37px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display5{
    margin-top: 4073px;
    margin-left: 136px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_vector2{
    margin-top: 4245px;
    margin-left: 309px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_vector3{
    margin-top: 4468px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_vector4{
    margin-top: 4672px;
    margin-left: 87px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display6{
    margin-top: 4419px;
    margin-left: 19px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display7{
    margin-top: 4484px;
    margin-left: 110px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display8{
    margin-top: 4549px;
    margin-left: 200px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display9{
    margin-top: 4615px;
    margin-left: 291px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text9{
    margin-top: 4446px;
    margin-left: 221px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text10{
    margin-top: 4910px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_bg3{
    margin-top: 5032px;
    margin-left: 21px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_text11{
    margin-top: 5270px;
    margin-left: 41px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display10{
    margin-top: 5019px;
    margin-left: 23px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display11{
    margin-top: 4981px;
    margin-left: 145px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display12{
    margin-top: 5019px;
    margin-left: 267px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display13{
    margin-top: 5467px;
    margin-left: 25px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display14{
    margin-top: 5483px;
    margin-left: 113px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display15{
    margin-top: 5483px;
    margin-left: 201px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_display16{
    margin-top: 5467px;
    margin-left: 289px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_bg4{
    margin-top: 5901px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub01_bg5{
    margin-top: 6160px;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 2;

}
.sub02_img{
    width: auto;
    height: auto;
    position: absolute;
    z-index: 2;

}
.sub02_img2{
    width: auto;
    height: auto;
    margin-top: 939px;
    margin-left: -28.7px;
    position: absolute;
    z-index: 2;
}
.sub02_text{
    width: auto;
    height: auto;
    margin-top: 996px;
    margin-left: 176px;
    position: absolute;
    z-index: 2;
}
.sub02_vec{
    width: auto;
    height: auto;
    margin-top: 903px;
    margin-left: 274px;
    position: absolute;
    z-index: 2;
}
.sub02_vec2{
    width: auto;
    height: auto;
    margin-left: 242px;
    margin-top: 1071px;
    position: absolute;
    z-index: 2;
}
.sub02_bg{
    width: auto;
    height: auto;
    margin-top: 1121px;
    position: absolute;
    z-index: 2;
}
.sub02_text2{
    width: auto;
    height: auto;
    margin-top: 1395px;
    margin-left: 28px;
    position: absolute;
    z-index: 2;
}
.sub02_bg2{
    width: auto;
    height: auto;
    margin-top: 2217px;
    position: absolute;
    z-index: 2;
}
.sub02_text3{
    width: auto;
    height: auto;
    margin-top: 2415px;
    margin-left: 34px;
    position: absolute;
    z-index: 2;
}
.sub02_text4{
    width: auto;
    height: auto;
    margin-top: 2624px;
    margin-left: 33px;
    position: absolute;
    z-index: 2;
}
.sub02_text5{
    width: auto;
    height: auto;
    margin-top: 2861px;
    position: absolute;
    z-index: 2;
}
.sub02_text6{
    width: auto;
    height: auto;
    margin-top: 3226px;
    margin-left: 39px;
    position: absolute;
    z-index: 2;
}
.sub02_text7{
    width: auto;
    height: auto;
    margin-top: 3763px;
    margin-left: 51px;
    position: absolute;
    z-index: 2;
}
.sub02_bg3{
    width: auto;
    height: auto;
    margin-top: 3846px;
    position: absolute;
    z-index: 2;
}
.sub02_vec3{
    width: auto;
    height: auto;
    margin-left: 197px;
    margin-top: 3715px;
    position: absolute;
    z-index: 2;
}
.sub02_text8{
    width: auto;
    height: auto;
    margin-top: 3887px;
    margin-left: 192px;
    position: absolute;
    z-index: 2;
}
.sub02_text9{
    width: auto;
    height: auto;
    margin-top: 3973px;
    margin-left: 175px;
    position: absolute;
    z-index: 2;
}
.sub02_dp{
    width: auto;
    height: auto;
    margin-top: 3888px;
    margin-left: 30px;
    position: absolute;
    z-index: 2;
}
.sub02_dp2{
    width: auto;
    height: auto;
    margin-top: 3987px;
    margin-left: 165px;
    position: absolute;
    z-index: 2;
}
.sub02_dp3{
    width: auto;
    height: auto;
    margin-top: 3987px;
    margin-left: 237px;
    position: absolute;
    z-index: 2;
}
.sub02_dp4{
    width: auto;
    height: auto;
    margin-top: 3987px;
    margin-left: 310px;
    position: absolute;
    z-index: 2;
}
.sub02_dp5{
    width: auto;
    height: auto;
    margin-top: 4149px;
    margin-left: 165px;
    position: absolute;
    z-index: 2;
}
.sub02_dp6{
    width: auto;
    height: auto;
    margin-top: 4149px;
    margin-left: 237px;
    position: absolute;
    z-index: 2;
}
.sub02_dp7{
    width: auto;
    height: auto;
    margin-top: 4149px;
    margin-left: 310px;
    position: absolute;
    z-index: 2;
}
.sub02_text10{
    width: auto;
    height: auto;
    margin-top: 4440px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub02_text11{
    width: auto;
    height: auto;
    margin-top: 4537px;
    margin-left: 173px;
    position: absolute;
    z-index: 2;
}
.sub02_dp8{
    width: auto;
    height: auto;
    margin-top: 4479px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub02_dp9{
    width: auto;
    height: auto;
    margin-top: 4557px;
    margin-left: 173px;
    position: absolute;
    z-index: 2;
}
.sub02_dp10{
    width: auto;
    height: auto;
    margin-top: 4557px;
    margin-left: 278px;
    position: absolute;
    z-index: 2;
}
.sub02_dp11{
    width: auto;
    height: auto;
    margin-top: 4784px;
    margin-left: 173px;
    position: absolute;
    z-index: 2;
}
.sub02_dp12{
    width: auto;
    height: auto;
    margin-top: 4784px;
    margin-left: 278px;
    position: absolute;
    z-index: 2;
}
.sub02_bg4{
    width: auto;
    height: auto;
    margin-top: 4377px;
    position: absolute;
    z-index: 1;
}
.sub02_text12{
    width: auto;
    height: auto;
    margin-top: 5242px;
    margin-left: 217px;
    position: absolute;
    z-index: 2;
}
.sub02_dp13{
    width: auto;
    height: auto;
    margin-top: 5183px;
    margin-left: 80px;
    position: absolute;
    z-index: 2;
}
.sub02_text13{
    width: auto;
    height: auto;
    margin-top: 5556px;
    margin-left: 35px;
    position: absolute;
    z-index: 2;
}
.sub02_dp14{
    width: auto;
    height: auto;
    margin-top: 5611px;
    margin-left: 35px;
    position: absolute;
    z-index: 2;
}
.sub02_bg5{
    width: auto;
    height: auto;
    margin-top: 6078px;
    position: absolute;
    z-index: 1;
}
.sub03_img{
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 167px;
    z-index: 2;

}
.sub03_text{
    width: auto;
    height: auto;
    margin-top: 915px;
    margin-left: 24px;
    position: absolute;
    z-index: 2;
}
.sub03_text2{
    width: auto;
    height: auto;
    margin-top: 1141px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub03_img2{
    width: auto;
    height: auto;
    margin-top: 1250px;
    position: absolute;
    z-index: 2;

}
.sub03_text3{
    width: auto;
    height: auto;
    margin-top: 2364px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub03_img3{
    width: auto;
    height: auto;
    margin-top: 2473px;
    position: absolute;
    z-index: 2;

}
.sub03_text4{
    width: auto;
    height: auto;
    margin-top: 3590px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub03_img4{
    width: auto;
    height: auto;
    margin-top: 3699px;
    position: absolute;
    z-index: 2;

}
.sub03_text5{
    width: auto;
    height: auto;
    margin-top: 4801px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub03_img5{
    width: auto;
    height: auto;
    margin-top: 4919px;
    position: absolute;
    z-index: 2;

}
.sub03_text6{
    width: auto;
    height: auto;
    margin-top: 6036px;
    margin-left: 31px;
    position: absolute;
    z-index: 2;
}
.sub03_img6{
    width: auto;
    height: auto;
    margin-top: 6145px;
    position: absolute;
    z-index: 2;

}
.sub03_img7{
    width: auto;
    height: auto;
    margin-top: 7279px;
    position: absolute;
    z-index: 2;
}
.sub01_intro{
    width: auto;
    height: auto;
    margin-top: 6468px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub01_mydoc{
    width: auto;
    height: auto;
    margin-top: 6632px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub01_fastroom{
    width: auto;
    height: auto;
    margin-top: 6705px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub01_mc{
    width: auto;
    height: auto;
    margin-top: 6928px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub01_01{
    width: auto;
    height: auto;
    margin-top: 6480px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub01_02{
    width: auto;
    height: auto;
    margin-top: 6742px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub02_intro{
    width: auto;
    height: auto;
    margin-top: 6894px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub02_mydoc{
    width: auto;
    height: auto;
    margin-top: 7069px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub02_fastroom{
    width: auto;
    height: auto;
    margin-top: 7142px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub02_mc{
    width: auto;
    height: auto;
    margin-top: 7365px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub02_01{
    width: auto;
    height: auto;
    margin-top: 6917px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub02_02{
    width: auto;
    height: auto;
    margin-top: 7199px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub03_01{
    width: auto;
    height: auto;
    margin-top: 7900px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub03_02{
    width: auto;
    height: auto;
    margin-top: 8182px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
}
.sub03_intro{
    width: auto;
    height: auto;
    margin-top: 7854px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub03_mydoc{
    width: auto;
    height: auto;
    margin-top: 8052px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub03_fastroom{
    width: auto;
    height: auto;
    margin-top: 8125px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}
.sub03_mc{
    width: auto;
    height: auto;
    margin-top: 8348px;
    margin-left: 171px;
    position: absolute;
    z-index: 2;
}